body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background:linear-gradient(135deg, rgba(255, 226, 206, 0.8) 1%, rgba(205, 150, 205, 0.8) 71%, rgba(0, 181, 212, 0.8) 100%),
    url(./img/anastase-maragos-FP7cfYPPUKM-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}